#fami-film-login{
  /* FAMI FILM */


  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #F1B722;
  margin-top: 20px;
}

ul li{
  display: inline-block;
  margin-right: 20px;
}
