<ng-template appPlaceholder></ng-template>
<div *ngIf="isLoading" style="text-align: center; margin-top: 130px;">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="row" *ngIf="!isLoading"
     style="background-color: white;
      color:  #484a52;
      font-family: Roboto;
      font-style: normal;
      font-size: 12px;
      width: 500px; height: 250px;
      margin: auto;
      margin-top: 120px;
      border-radius: 7px;
">
  <div class="col-xs-12 col-md-9 col-md-offset-2">
    <app-alert [message]="error"
    *ngIf="error"
    (close)="onHandleError()"></app-alert>

    <div id="fami-film-login">Fami Film</div>
    <form #authForm='ngForm' (ngSubmit)="onSubmit(authForm)"
      style="margin-top: 10px;">
      <div class="form-group">
        <label for="email" class="form-label">User name</label>
        <input matInput
               type="text"
               id="email"
               ngModel
               name="email"
               required
        >
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input matInput
               type="password"
               id="password"
               ngModel
               name="password"
               required
               minLength="6"
        >
      </div>
      <div class="row">
        <ul>
          <li>
            <button mat-raised-button class="blue-white-btn" type="submit" [disabled]="!authForm.valid"
            >{{isLoginMode? 'Login' : 'Sign up'}}</button></li>
          <li>
            <button mat-raised-button class="blue-white-btn" id="switch-btn"
                    (click)="onSwitchMode()"
                    type="button">Switch to {{isLoginMode? 'Sign up' : 'Login'}}</button>
          </li>
        </ul>
      </div>
    </form>
    <div *ngIf="false">
      <div class="alert alert-danger"
           style="width: 300px; height: 10px; margin-top: 55px;">
        <p style="text-align: center; font-size: 12px; margin-top: -10px; ">The password is invalid</p>
      </div>
    </div>
  </div>
</div>
