<div class="container" style="width : 500px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="header" style="text-align: center;">
        <h4 class="title">Bạn có chắc xóa film này không?</h4>
      </div>
      <div class="footer" style="text-align: center;">
        <button class="btn btn-primary"
                type="submit"
                style="margin-right: 10px;">Xóa</button>
        <button class="btn btn-primary"
                style="margin-left: 10px; background-color: white; color:#3898EC; border: 1px solid #3898EC;"
                type="button"
                (click)="onCancel()"
        >Trở về</button>
      </div>
    </div>
  </div>
</div>
